html {
    min-height: 50%;
  }
  body {
    margin: 10%;
    padding: 0;
    font-family: sans-serif;
    background-color: gray;
    min-height: 50%;
    padding-bottom: 5rem;
    font-size: large;
  }
  
  header {
    margin-top: 3rem;
  }
  header h1 {
    color: white;
  }


  #sura{
    color: white;
  }

  .label{
    color: white;
  }

  button{
      position: relative;
      float: left;
      margin-left: 5px;
  }